/old_releases
*.o
/pktriggercord
/pktriggercord-cli
*~
*.exe
/pktriggercord_commandline.html
/pktriggercord-*-win.zip
/pkTriggerCord-*.src.tar.gz
/pktriggercord-*.rpm
/pktriggercord*.deb
/*PkTriggerCord*.apk
/android/bin
/android/gen
/android/libs
/android/assets
/android/obj
/android/local.properties
/android/.gradle/
/android/build/
.#*
*.orig
/i686-w64-mingw32
