#!/usr/bin/make -f

export DEB_BUILD_OPTIONS = parallel=$(shell nproc)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -fno-strict-aliasing -std=gnu11 -fPIC
export DEB_CXXFLAGS_MAINT_APPEND = -Wall -fno-strict-aliasing -fPIC

%:
	dh $@ --buildsystem=cmake --sourcedirectory=indi-avalon

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=ON \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DINDI_JSONLIB=On

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info
