Source: pktriggercord
Section: unknown
Priority: extra
Maintainer: Andras Salamon <andras.salamon@melda.info>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://pktriggercord.melda.info
#Vcs-Git: git://git.debian.org/collab-maint/pktriggercord.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pktriggercord.git;a=summary

Package: pktriggercord
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Remote control program for Pentax DSLR cameras.
 pkTriggerCord is a remote control program for Pentax DSLR cameras.
