Source: indi-bresserexos2
Section: science
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 6), cdbs, cmake, libindi-dev, zlib1g-dev, libnova-dev, libgsl-dev
Standards-Version: 3.9.2

Package: indi-bresserexos2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g
Description: INDI Exos II GoTo Telescope Mount Driver.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This is a basic driver for the Bresser Exos II GoTo telescope mount controller, allowing the connection to INDI clients.

Package: indi-bresserexos2-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-bresserexos2 (= ${binary:Version}), ${misc:Depends}
Description: INDI Exos II GoTo Telescope Mount Driver.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
