Source: indi-asi-power
Section: science
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 5), dh-systemd (>= 1.5), pkg-config, cdbs, cmake, libindi-dev, libpigpiod-if-dev, libpigpiod-if2-1, libpigpiod
Standards-Version: 3.9.1

Package: indi-asi-power
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpigpiod-if2-1, libpigpiod
Description: INDI Driver for RaspberryPi GPIO
 INDI Driver for RaspberryPi GPIO on/off and PWM
 This driver is compatible with any INDI client but only works on Raspberry Pi devices

Package: indi-asi-power-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-asi-power (= ${binary:Version}), ${misc:Depends}
Description: INDI Driver for RaspberryPi GPIO
 INDI Driver for RaspberryPi GPIO on/off and PWM
 This driver is compatible with any INDI client but only works on Raspberry Pi devices
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
