Source: indi-ticfocuser-ng
Section: science
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 9),
               cdbs,
               cmake,
               pkg-config,
               libcfitsio-dev,
               libindi-dev,
               zlib1g-dev,
               libnova-dev,
               libusb-1.0-0-dev,
               libbluetooth-dev
Standards-Version: 3.9.4

Package: indi-ticfocuser-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: INDI Driver for ticfocuser-ng
 Driver for ticfocuser-ng.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-ticfocuser-ng-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-ticfocuser-ng (= ${binary:Version}), ${misc:Depends}
Description: INDI Driver for ticfocuser-ng
 Driver for ticfocuser-ng.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
