# Increase USBFS memory
# SBIG USB Camera Firmware Loader rules (Updated for modern fxload)
​​​​​​​
# SBIG ST-7/8/9/10/2K cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0001", \
RUN+="/usr/sbin/fxload -i /usr/lib/firmware/sbigucam.hex -p $env{BUSNUM},$env{DEVNUM} -t an21"

# SBIG 4K camera
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0001", ATTRS{serial}=="3f980000.usb", \
RUN+="/usr/sbin/fxload -i /usr/lib/firmware/sbigpcam.hex -p $env{BUSNUM},$env{DEVNUM} -t an21"

# SBIG ST-L cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0002", \
RUN+="/usr/sbin/fxload -i /usr/lib/firmware/sbiglcam.hex -p $env{BUSNUM},$env{DEVNUM} -t an21"

# SBIG ST-402/1603/3200/8300 cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0003", \
RUN+="/usr/sbin/fxload -i /usr/lib/firmware/sbigfcam.hex -p $env{BUSNUM},$env{DEVNUM} -t fx2" 

# Make all SBIG Cameras accessible post enumeration
SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", MODE="0666"
