Source: indi-pentax
Section: science
Priority: extra
Maintainer:Karl Rees <indidev@karlrees.com>
Build-Depends: debhelper (>= 6), cdbs, cmake, libindi-dev, zlib1g-dev, libusb-dev, libjpeg-dev,  libcfitsio3-dev|libcfitsio-dev, libraw-dev, libpktriggercord, libricohcamerasdk [!arm64]
Standards-Version: 3.9.2

Package: indi-pentax
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpktriggercord, libricohcamerasdk [!arm64]
Description: INDI Pentax driver.
 Driver for Pentax DSLR cameras.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 
Package: indi-pentax-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-pentax (= ${binary:Version}), ${misc:Depends}
Description: INDI Pentax driver.
 Driver for Pentax DSLR cameras.
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
