Source: indi-ahp-xc
Section: science
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 5), cdbs, cmake, libusb-1.0-0-dev, libcfitsio-dev, libindi-dev, zlib1g-dev, libnova-dev
Standards-Version: 3.9.2

Package: indi-ahp-xc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Telescope Array driver for INDI with support for AHP cross-correlators 
 .
 This driver is compatible with any INDI client such as KStars or Xephem.

Package: indi-ahp-xc-dbg
Priority: extra
Section: debug
Architecture: any
Depends: indi-ahp-xc (= ${binary:Version}), ${misc:Depends}
Description: Telescope Array driver for INDI with support for AHP cross-correlators
 .
 This driver is compatible with any INDI client such as KStars or Xephem.
 This package contains the debug symbols for the this driver, useful to investigate problems in INDI.
