Source: libahp-xc
Section: libs
Priority: extra
Maintainer: Jasem Mutlaq <mutlaqja@ikarustech.com>
Build-Depends: debhelper (>= 6), cdbs, cmake
Standards-Version: 3.9.2

Package: libahp-xc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AHP XC cross-correlator series driver library.
 .
 This package contains the library.
