################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BresserGoTo_ReverseEngineer/BresserGoTo_ReverseEngineer/obj/Debug
*.sch-bak
