body {
    color: #eeeeee;
    background: #343E59;
}


.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}


.bottom-navbar{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
}

.weatherbox {
    text-align: center;
    text-shadow: 0 1px 1px 1px #666666;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    position: relative;
    border-radius: 10px;
    background-color: #080808;
}
.card {
    padding: 10px 25px;
    margin: 15px 10px;
}

.weatherbox .card-footer {
    padding: 3px 0px;
    vertical-align: text-bottom;
    border-width: 1px;
    border-color: orange;
    color: orange;
}

.apexcharts-tooltip {
    background: #f3f3f3;
    color: black;
}



